<!-- <div>
  <h1>RS Comp Tracker</h1>
  <app-lookup (lookUpUser)="lookUpUser($event)"></app-lookup>
</div> -->

<div>
  <!-- 
    iterate over resources array (which are held in component.ts) and create an app-button component for each of them
    pass in text (which will be the button text)
   -->
  <app-button
    *ngFor="let resource of resources"
    [text]="resource"
    (btnClick)="getResource($event)"
  ></app-button>
</div>

<!-- we want to hide displays of data if we do not yet have the data -->

<!-- conditionally display the div (and children elements) if we have users -->
<div *ngIf="users.length">
  <!-- iterate over each user, passing in each user's data to the app-user template  -->
  <app-user *ngFor="let user of users" [user]="user"></app-user>
  <!-- users is the designation for the data, user is a single element -->
  <!-- [user]="user" -->
  <!-- [this is how we use the data internally within the component] = "this is the designation for the data at THIS level" -->
</div>

<!-- use if else logic to display something else if we don't yet have data -->

<div *ngIf="posts.length; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <app-post *ngFor="let post of posts" [post]="post"></app-post>
</ng-template>
<ng-template #elseBlock>
  <h1>some skeleton component, instructions, or other message</h1>
</ng-template>

<div *ngIf="todos.length">
  <app-todo *ngFor="let todo of todos" [todo]="todo"></app-todo>
</div>
